<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .main {
                width: 40%;
                margin: auto;
            }
        </style>
        {% block css %}
        {% endblock %}
        <title>My Dragon Zoo</title>
    </head>
    <body>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
        {% block scripts %}
        {% endblock %}
    </body>
</html>